.page-title, .food-list a, .descriptive-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-title {
  font-size: 48px;
  color: rgb(19, 112, 0);
  text-align: center;
}

.food-list a {
  font-size: 18px;
}

.hero-img {
  height: auto;
  width: 768px;
}
